body {
    font-family: 'Inter', sans-serif;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

html.dark .modal-content::-webkit-scrollbar-track {
    background: #2d3748;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

html.dark .modal-content::-webkit-scrollbar-thumb {
    background: #555;
}

.timetable-cell {
    min-width: 28px;
}

.bairro-btn.active,
.capacity-btn.active,
.sort-btn.active {
    background-color: #4f46e5;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}